.btn-brown { 
    color: #ffffff; 
    background-color: #925818; 
    border-color: #7C4B14; 
  } 
   
  .btn-brown:hover, 
  .btn-brown:focus, 
  .btn-brown:active, 
  .btn-brown.active, 
  .open .dropdown-toggle.btn-brown { 
    color: #ffffff; 
    background-color: #be721f; 
    border-color: #7C4B14; 
  } 
   
  .btn-brown:active, 
  .btn-brown.active, 
  .open .dropdown-toggle.btn-brown { 
    background-image: none; 
  } 
   
  .btn-brown.disabled, 
  .btn-brown[disabled], 
  fieldset[disabled] .btn-brown, 
  .btn-brown.disabled:hover, 
  .btn-brown[disabled]:hover, 
  fieldset[disabled] .btn-brown:hover, 
  .btn-brown.disabled:focus, 
  .btn-brown[disabled]:focus, 
  fieldset[disabled] .btn-brown:focus, 
  .btn-brown.disabled:active, 
  .btn-brown[disabled]:active, 
  fieldset[disabled] .btn-brown:active, 
  .btn-brown.disabled.active, 
  .btn-brown[disabled].active, 
  fieldset[disabled] .btn-brown.active { 
    background-color: #925818; 
    border-color: #7C4B14; 
  } 
   
  .btn-brown .badge { 
    color: #925818; 
    background-color: #ffffff; 
  }