tr {
    &.win {
        background-color: $win !important;
    }
    &.draw {
        background-color: $draw !important;
    }
    &.lose {
        background-color: $lose !important;
    }
}

.w-10 {
    width: 10%;
}

.w-40 {
    width: 40%;
}