body, html {
  height: 100%;
}

nav#menu {
  min-height: 65px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#content {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: calc(100% - 250px);
}

#main {
  background-color: #f3f3f3;
  padding: 5px;
}

.wrap {
  background: #FFFFFF;
  margin: 20px;
  padding: 20px;
  border: 1px solid silver;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .wrap {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.sj-heading, .sj-heading-small, .sj-heading-large {
  color: #f0d64e;
  text-shadow: 2px 2px #925818;
  font-weight: bolder;
  font-size: 2em;
}

.sj-heading-small {
  font-size: 1.5em;
}

.sj-heading-large {
  font-size: 2.5em;
}

i.border {
  color: #f0d64e;
  font-size: 1.2em;
  text-align: center;
  padding-top: 8px;
  margin: 10px 15px;
  vertical-align: middle;
  background-color: #925818;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 10px solid #f0d64e;
}

i.i-lg {
  font-size: 1.6em;
}

.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  color: #666666;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f3f3f3;
}

span.invalid {
  color: #dc3545;
  padding: 5px;
  margin-top: 15px;
}

.pretty {
  font-size: 2em;
  margin-top: 5px;
}

.pretty.small {
  font-size: 1.3em;
}

.breadcrumb {
  background-color: #FFFFFF;
  font-size: 1.2em;
  margin: 0;
}

.btn-brown {
  color: #ffffff;
  background-color: #925818;
  border-color: #7C4B14;
}

.btn-brown:hover,
.btn-brown:focus,
.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
  color: #ffffff;
  background-color: #be721f;
  border-color: #7C4B14;
}

.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
  background-image: none;
}

.btn-brown.disabled,
.btn-brown[disabled],
fieldset[disabled] .btn-brown,
.btn-brown.disabled:hover,
.btn-brown[disabled]:hover,
fieldset[disabled] .btn-brown:hover,
.btn-brown.disabled:focus,
.btn-brown[disabled]:focus,
fieldset[disabled] .btn-brown:focus,
.btn-brown.disabled:active,
.btn-brown[disabled]:active,
fieldset[disabled] .btn-brown:active,
.btn-brown.disabled.active,
.btn-brown[disabled].active,
fieldset[disabled] .btn-brown.active {
  background-color: #925818;
  border-color: #7C4B14;
}

.btn-brown .badge {
  color: #925818;
  background-color: #ffffff;
}

.btn-brown-secondary {
  color: #925818;
  background-color: #FFFFFF;
  border-color: #7C4B14;
}

.btn-brown-secondary:hover,
.btn-brown-secondary:focus,
.btn-brown-secondary:active,
.btn-brown-secondary.active,
.open .dropdown-toggle.btn-brown-secondary {
  color: #be721f;
  background-color: #FFFFFF;
  border-color: #7C4B14;
}

.btn-brown-secondary:active,
.btn-brown-secondary.active,
.open .dropdown-toggle.btn-brown-secondary {
  background-image: none;
}

.btn-brown-secondary.disabled,
.btn-brown-secondary[disabled],
fieldset[disabled] .btn-brown-secondary,
.btn-brown-secondary.disabled:hover,
.btn-brown-secondary[disabled]:hover,
fieldset[disabled] .btn-brown-secondary:hover,
.btn-brown-secondary.disabled:focus,
.btn-brown-secondary[disabled]:focus,
fieldset[disabled] .btn-brown-secondary:focus,
.btn-brown-secondary.disabled:active,
.btn-brown-secondary[disabled]:active,
fieldset[disabled] .btn-brown-secondary:active,
.btn-brown-secondary.disabled.active,
.btn-brown-secondary[disabled].active,
fieldset[disabled] .btn-brown-secondary.active {
  background-color: #925818;
  border-color: #7C4B14;
}

.btn-brown-secondary .badge {
  color: #925818;
  background-color: #ffffff;
}

.db-btn {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #f8f8f8;
  margin: 5px 25px 5px 25px;
  padding-top: 20px;
  border: 1px solid silver;
  border-radius: 10px;
}

.db-btn:hover {
  background: #f3f3f3;
  border: 1px solid silver;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 2px 2px #dadada;
          box-shadow: 2px 2px 2px 2px #dadada;
  position: relative;
  top: 2px;
  left: 2px;
  cursor: pointer;
}

.db-btn .db-btn-icon {
  display: block;
  text-align: center;
  font-size: 4em;
}

.db-btn .db-btn-text {
  display: block;
  text-align: center;
  font-size: 2em;
}

.card-header {
  border-bottom: 3px solid #f0d64e;
}

tr.win {
  background-color: #ccffcc !important;
}

tr.draw {
  background-color: #ffffe6 !important;
}

tr.lose {
  background-color: #ffe6e6 !important;
}

.jumbotron.win {
  background-color: #ccffcc;
}

.jumbotron.draw {
  background-color: #ffffe6;
}

.jumbotron.lose {
  background-color: #ffe6e6;
}

nav.clubbar {
  background-color: #925818;
  border-bottom: 5px solid #f0d64e;
  padding: 0;
  margin: 0;
  line-height: 1;
}

nav.clubbar a {
  display: inline-block;
  padding: 10px;
}

nav.clubbar a .nav-club-image {
  float: left;
}

nav.clubbar a .nav-club-image img {
  height: 40px;
}

nav.clubbar a .nav-club-text {
  margin-left: 10px;
  float: right;
  font-size: 2em;
  font-variant: small-caps;
  color: #f0d64e;
  text-shadow: 2px 2px #663e11;
  text-decoration: none;
}

nav.clubbar a:hover {
  background-color: #663e11;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav.clubbar a.active {
  background-color: #663e11;
}

#sidebar {
  width: 250px;
  background: #e6e6e6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 2px solid #dadada;
  margin-left: -250px;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#sidebar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #c7aa11;
  border-radius: 50px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background: #f0d64e;
}

#sidebar::-webkit-scrollbar-thumb:active {
  background: #c7aa11;
}

#sidebar::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 50px;
}

#sidebar::-webkit-scrollbar-track:hover {
  background: #f3f3f3;
}

#sidebar::-webkit-scrollbar-track:active {
  background: #f3f3f3;
}

#sidebar::-webkit-scrollbar-corner {
  background: transparent;
}

#sidebar.active {
  margin-left: 0;
}

#sidebar .sidebar-header {
  padding: 20px;
  border-bottom: 2px solid #c7aa11;
  background-color: #eccb1f;
  min-height: 75px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 750;
  font-family: 'Roboto', sans-serif;
}

#sidebar .sidebar-header a {
  color: #f3f3f3;
}

#sidebar .sidebar-header a:hover {
  text-decoration: none;
}

#sidebar .sidebar-header img {
  display: block;
  margin: 10px auto;
  height: 80px;
}

#sidebar ul {
  padding-bottom: 10px;
}

#sidebar ul li a:not([data-toggle="collapse"]) {
  font-size: 1.1em;
  display: block;
  padding: 10px;
  background-color: #f6f6f6;
  color: #c7aa11;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid #ebebeb;
}

#sidebar ul li a:not([data-toggle="collapse"]).active {
  background: #FFF;
  color: #f0d64e;
  padding-left: 20px;
}

#sidebar ul li a:not([data-toggle="collapse"]) i {
  min-width: 30px;
  margin-right: 10px;
  margin-left: 5px;
}

#sidebar ul li a:not([data-toggle="collapse"]):hover {
  color: #f0d64e;
  background: #FFF;
  text-decoration: none;
  padding-left: 20px;
}

#sidebar ul li a[data-toggle="collapse"] {
  position: relative;
  font-size: 1.1em;
  display: block;
  padding: 10px;
  background-color: #dfbe13;
  color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid #ebebeb;
}

#sidebar ul li a[data-toggle="collapse"]:hover {
  background: #c7aa11;
  text-decoration: none;
}

#sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
  background: #c7aa11;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: 0;
    width: 90vw;
  }
  #sidebar .sidebar-header {
    padding-top: 85px;
  }
  #sidebar .sidebar-header img {
    display: none;
  }
  #sidebar.active {
    margin-left: -90vw;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: 100%;
  }
  #sidebarCollapse span {
    display: none;
  }
}

section {
  padding: 10px;
  margin: 10px;
}

section .card {
  width: 100%;
}

#filter-buttons {
  display: block;
  text-align: center;
  width: 100%;
}

#results, #reports {
  display: block;
  width: 100%;
}

.empty-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 20vh;
}

.empty-section p {
  color: #555;
  font-style: italic;
  font-size: 1.4rem;
}

footer {
  padding-bottom: 5px;
  border-top: 3px solid #f0d64e;
  width: 100%;
  background-color: #FFFFFF;
  min-height: 100px;
}

.parallax {
  height: 250px;
  position: relative;
}

.parallax .parallax-text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.parallax .parallax-background {
  height: 100%;
  width: 100%;
  opacity: 0.50;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  background-color: #925818;
}

.navbar {
  border-bottom: 3px solid #f0d64e;
  min-height: 75px;
}

a {
  color: #c7aa11;
}

a:hover {
  color: #f0d64e;
}

.alert {
  margin-bottom: 0;
}
