.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sj-heading, .sj-heading-small, .sj-heading-large {
  color: #f0d64e;
  text-shadow: 2px 2px #925818;
  font-weight: bolder;
  font-size: 2em;
}

.sj-heading-small {
  font-size: 1.5em;
}

.sj-heading-large {
  font-size: 2.5em;
}

i {
  color: #f0d64e;
  font-size: 1.2em;
  text-align: center;
  padding-top: 8px;
}

i.border {
  background-color: #925818;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 10px solid #f0d64e;
}

i.i-lg {
  font-size: 1.6em;
}

.btn-brown {
  color: #ffffff;
  background-color: #925818;
  border-color: #7C4B14;
}

.btn-brown:hover,
.btn-brown:focus,
.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
  color: #ffffff;
  background-color: #be721f;
  border-color: #7C4B14;
}

.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
  background-image: none;
}

.btn-brown.disabled,
.btn-brown[disabled],
fieldset[disabled] .btn-brown,
.btn-brown.disabled:hover,
.btn-brown[disabled]:hover,
fieldset[disabled] .btn-brown:hover,
.btn-brown.disabled:focus,
.btn-brown[disabled]:focus,
fieldset[disabled] .btn-brown:focus,
.btn-brown.disabled:active,
.btn-brown[disabled]:active,
fieldset[disabled] .btn-brown:active,
.btn-brown.disabled.active,
.btn-brown[disabled].active,
fieldset[disabled] .btn-brown.active {
  background-color: #925818;
  border-color: #7C4B14;
}

.btn-brown .badge {
  color: #925818;
  background-color: #ffffff;
}

.db-btn {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #f3f3f3;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid silver;
  border-radius: 10px;
  vertical-align: 50%;
}

.db-btn:hover {
  background: #e6e6e6;
  border: 1px solid silver;
  text-decoration: none;
}

.db-btn .db-btn-icon {
  display: block;
  text-align: center;
  font-size: 4em;
}

.db-btn .db-btn-text {
  display: block;
  text-align: center;
  font-size: 2em;
}

.card-header {
  border-bottom: 3px solid #f0d64e;
}

tr.win {
  background-color: #ccffcc;
}

tr.draw {
  background-color: #ffffe6;
}

tr.lose {
  background-color: #ffe6e6;
}

.jumbotron.win {
  background-color: #ccffcc;
}

.jumbotron.draw {
  background-color: #ffffe6;
}

.jumbotron.lose {
  background-color: #ffe6e6;
}

nav.clubbar {
  background-color: #925818;
  border-bottom: 5px solid #f0d64e;
  padding-top: 5px;
}

nav.clubbar a {
  display: inline-block;
  padding: 10px;
}

nav.clubbar a .nav-club-image {
  float: left;
}

nav.clubbar a .nav-club-image img {
  height: 40px;
}

nav.clubbar a .nav-club-text {
  margin-left: 10px;
  float: right;
  font-size: 2em;
  font-variant: small-caps;
  color: #f0d64e;
  text-shadow: 2px 2px #663e11;
  text-decoration: none;
}

nav.clubbar a:hover {
  background-color: #663e11;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav.clubbar a.active {
  background-color: #663e11;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 80vh;
  background: #f3f3f3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul li a {
  font-size: 1.1em;
  display: block;
  padding: 10px;
}

#sidebar ul li a:hover {
  color: #f0d64e;
  background: #fff;
  text-decoration: none;
}

#sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
  color: #fff;
  background: #f0d64e;
}

#sidebar ul li ul {
  padding-left: 20px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

section {
  padding: 10px;
  margin: 10px;
}

section .card {
  width: 100%;
}

footer {
  padding-bottom: 5px;
  border-top: 3px solid #f0d64e;
  width: 100%;
  background-color: #f3f3f3;
}

.parallax {
  height: 250px;
  position: relative;
}

.parallax .parallax-text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.parallax .parallax-background {
  height: 100%;
  width: 100%;
  opacity: 0.50;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  background-color: #925818;
}

.navbar {
  border-bottom: 3px solid #f0d64e;
}

a {
  color: #c7aa11;
}

a:hover {
  color: #f0d64e;
}
