<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /sjcssc/public/
    
    # Not too sure what this line does.
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^index\.php$ - [L]

    ### Admin Regex - Need to run Admin first because "admin" matches ([a-zA-Z]+) in public regex

    ### TODO: remove .html from 404.html

    # Special Rules because these pages have no club, so controllers->club, page->controllers etc.
    RewriteRule ^admin/?$ index.php?admin=true&controller=user&page=login [L,QSA]
    RewriteRule ^admin/user/settings?$ index.php?admin=true&controller=user&page=index [L,QSA]
    RewriteRule ^admin/([a-zA-Z]+)/dashboard/?$ index.php?admin=true&club=$1 [L,QSA]
    RewriteRule ^admin/(user|users)/?$ index.php?admin=true&controller=$1 [L,QSA]
    RewriteRule ^admin/(user|users)/([a-zA-Z]+)/?$ index.php?admin=true&controller=$1&page=$2 [L,QSA]
    RewriteRule ^admin/(user|users)/([a-zA-Z]+)/([0-9]+)/?$ index.php?admin=true&controller=$1&page=$2&id=$3 [L,QSA]


    # This will be given club and default page i.e. social/index or bowls/index
    RewriteRule ^admin/([a-zA-Z]+)/?$ index.php?admin=true&club=$1 [L,QSA]
    # This will be given club and given page
    RewriteRule ^admin/([a-zA-Z]+)/([a-zA-Z]+)/?$ index.php?admin=true&club=$1&controller=$2 [L,QSA]
    # This will be for  given club, given page and mode.
    RewriteRule ^admin/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)/?$ index.php?admin=true&club=$1&controller=$2&page=$3 [L,QSA]
    # This will be given club and given page and given mode and id
    RewriteRule ^admin/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)/([0-9]+)/?$ index.php?admin=true&club=$1&controller=$2&page=$3&id=$4 [L,QSA]
    

    ### Public Regex

    # This will be given club and default page i.e. social/index or bowls/index
    RewriteRule ^([a-zA-Z]+)/?$ index.php?club=$1 [L,QSA]
    # This will be given club and given page
    RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/?$ index.php?club=$1&controller=$2 [L,QSA]
    # This will be given club and given page and given id
    RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([0-9]+)/?$ index.php?club=$1&controller=$2&id=$3 [L,QSA]
    ### If all else fails
    #RewriteRule ^(.*)$ 404.html [R=301,L]

    # TODO: If all rules fail then show 404.html.

</IfModule>