section {
    padding: 10px;
    margin: 10px;

    .card {
        width: 100%;
    }
}

#season-filters{
    display: block;
    text-align: center;
    width: 100%;
}

#league-filters{
    display: block;
    text-align: center;
    width: 100%;

    input[type=checkbox] {
        display: none;
    }
}

#results, #reports {
    display: block;
    width: 100%;
} 

.empty-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;

    p {
        color: #555;
        font-style: italic;
        font-size: 1.4rem;
    }
}

#league-filters {
    
}