#sidebar {
    width: $sidebar-width;
    background: $grey;
    min-height: 100vh;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid $gold;
    margin-left: -#{$sidebar-width};
    z-index: 999;

    &.active {
        margin-left: 0;
    }

    .sidebar-header {
        padding: 20px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        background: $white;
    }

    ul li a {
        font-size: 1.1em;
        display: block;
        padding: 10px;

        &.active {
            background: #FFF;
        }

        i {
            min-width: 30px;
            margin-right: 10px;
        }
    }

    ul li a:hover {
        color: $gold;
        background: #FFF;
        text-decoration: none;
    }

    ul li.active > a, a[aria-expanded="true"] {
        color: #FFF;
        background: $gold;
    }

    ul li ul {
        padding-left: 20px;
    }

}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: 0;
        width: 80vw;
    }
    #sidebar.active {
        margin-left: -80vw;
    }
    #content {
        // width: calc(100% - #{$sidebar-width});
        width: 100%;
    }
    #content.active {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
}